main {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 3vw;
        margin-bottom: 25vw;
        
        p {
            line-height: 1.4;
        }

        .heading {
            h1, h2 {
                text-align: center;
                margin: 0.25em 0;
            }
    
            h1 {
                font-size: clamp(2.5rem, 6vw, 4rem);
            }
    
            h2 {
                font-weight: 300;
                font-size: clamp(1rem, 1.5vw, 1.3rem);
            }
        }

        .about {
            margin: 4em 0;

            p {
                font-size: 1rem;
                max-width: 100ch;
                font-weight: 300;
            }
        }

        // .sections {
            
        // }
    }
}