@use '../../variables';

.footer {
    position: relative;
    padding: 2em;
    background-color: variables.$color-primary;

    .wave {
        position: absolute;
        top: -21vw;
        left: 0;
        width: 100%;
        overflow-x: hidden;
        user-select: none;
    }

    p {
        color: #FFF;
        margin: 0;
        margin-top: 2em;
        text-align: center;
        font-size: clamp(1rem, 1.5vw, 1.25em);
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2em;
        
        a {
            white-space: nowrap;
            font-weight: 300;
            text-decoration: none;
            color: #FFF;
            font-size: clamp(0.75rem, 1.5vw, 1em);
        }
    }
}